a.btn.active {
    background-color: #1e40af;
    color: #f8fafc;
}
/* Style de base pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Style de l'en-tête du tableau */
  th {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  /* Style des cellules du tableau */
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  /* Style des lignes impaires du tableau */
  tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  /* Style des lignes au survol de la souris */
  tr:hover {
    background-color: #eaeaea;
  }